* {
    box-sizing: border-box;
  }

  body {
    background-color: rgb(255, 239, 209);
    font-family: 'Cormorant Garamond', serif;
    font-style: italic;
  }

  a {
    text-decoration: none;
  }

  a:visited {
    color: #1717b8;
    background-color: transparent;
    text-decoration: none;
  }

  .corpoFilm {
    background-color: seashell;
    box-shadow: -14px -14px 20px 0px rgba(255, 255, 255, 0.17),
      15px 15px 25px 0px rgba(0, 0, 0, 0.16);
    width: 500px;
    max-height: 825px;
    border-radius: 10px;
    margin: 30px auto;
    padding: 30px;
    display: block;
    flex-direction: column;
    text-decoration: none;
  }

  .mainLogo {
    display: block;
    width: 65px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -10px;
    text-decoration: none;
  }

  .locandinaFilm {
    max-width: 70%;
    height: auto;
  }

  .titoloFilm {
    display: block;
    text-align: center;
  }

  .descrizioneFilm {
    display: block;
    text-size-adjust: 80%;
    margin-left: 100px;
  }

  .giorniFilm {
    display: block;
    text-align: center;
  }

  .orariFilm {
    display: block;
    text-align: center;
  }

  .homeTitle {
    text-align: center;
    color: red;
  }

  .copyright {
    text-align: center;
    color: black;
    width: 100%;
  }

  .linkBiglietti {
    background-color: #D2A669;
    border: none;
    border-radius: 10px;
    color: #fff;
    font-family: sans-serif;
    margin-top: 25px;
    padding: 12px 10px;
    text-align: center!important;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    transition-duration: 0.8ms;
    }

    .linkBiglietti:hover {
      background-color: #000;
      color:#fff;
    }

    .bottone a button {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }