* {
    box-sizing: border-box;
    font-family: system-ui;
  }

  body {
    background-color: rgb(255, 239, 209);
  }

  a {
    text-decoration: none;
  }

  a:visited {
    color: blue;
    background-color: transparent;
    text-decoration: none;
  }

  .corpoFilm {
    background-color: seashell;
    box-shadow: -14px -14px 20px 0px rgba(255, 255, 255, 0.17),
      15px 15px 25px 0px rgba(0, 0, 0, 0.16);
    width: 500px;
    max-height: 800px;
    border-radius: 10px;
    margin: 30px auto;
    padding: 30px;
    display: block;
    flex-direction: column;
    text-decoration: none;
  }

  .mainLogo {
    display: block;
    width: 65px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -10px;
    text-decoration: none;
  }

  .locandinaFilm {
    max-width: 70%;
    height: auto;
  }

  .titoloFilm {
    display: block;
    text-align: center;
  }

  .descrizioneFilm {
    display: block;
  }

  .giorniFilm {
    display: block;
    text-align: center;
  }

  .orariFilm {
    display: block;
    text-align: center;
  }

  .homeTitle {
    text-align: center;
  }

  .copyright {
    text-align: center;
    color: #000000;
    width: 100%;
  }